* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	overflow: hidden;
}

#grid {
	background: black;
}

#list {
	position: fixed;
	top: 0;
}

.frame {
	background: #000000;
	display: inline-block;
	opacity: 0.9;
}

.frame:hover {
	opacity: 0.25;
	cursor: pointer;
}
